/* @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fasthand&family=Lexend:wght@400;700&family=Noto+Sans+JP:wght@900&family=Nunito:wght@400;800&family=Poppins:wght@400;600;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akatab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');

:root {
    --blanco: white;
    --negro: black;
    --grisOscuro: rgb(83, 83, 83);
    --gris: rgba(0, 0, 0, 0.1);
    --celeste: rgba(150, 174, 253, 0.1);
}


body{
    /* font-family: "Gabarito", cursive; */
    /* font-family: 'AR One Sans', sans-serif; */
    /* font-family: "Poppins", sans-serif; */
    /* font-family: 'Akatab', sans-serif; */
    font-family: 'Albert Sans', sans-serif;
    /* font-family: 'Amiko', sans-serif; */
  /* min-height: 100vh; */
}



.header{
  padding: 1em 3em;
  background-color: rgb(59, 58, 58);
  color: var(--blanco);
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* .dropdown {
  position: relative;
} */

/* .dropdown-menu {
  width: 100%;
  left: 0;
} */

.custom-width {
  width: 60%;
  margin: 0 auto;
}

.custom-dashboard{
  width: 100%;
  margin: 0 auto;

}

.full-height {
  min-height: 100vh;
}

#btn-opciones{
  width: 80%;
  height: 15em;
  /* margin: 1em; */
  transition: all 100ms;
}

#btn-opciones:hover {
  transform: scale(1.05);

}

#btn-opciones img {
  width: 4em;
}

#logo{
    height: 2em;
    /* margin-left: 2em; */
}

#logo-header{
  width: 8em;
}
#carrito{
    height: 1.5em;
    margin-right: 0.2em;
    /* margin-left: 2em; */
}
#imgGps{
    width: 2em;
    margin-right: 1em;
}

.image-login{
  width: auto;
  margin: 0 auto;
}

.card-products{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2em;
  text-align: center;
  justify-content: center;
}

#secServicios img{
  width: 5em;
}

#logosUnis{
  height: 25em;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* text-align: center; */
  /* background-color: aqua; */
}

#carouselIdLogo img {
  height: 10em;
  /* height: auto; */
}
#carouselCamisetas img {
  /* height: 10em; */
  width: 12em;
}
.card-items{
  /* background-color: rgba(0, 0, 0, 0.1); */
  margin-top: 3em;
  padding: 2em;
}

.logo{
  width: 3em;
}

.mensaje-view label{
  font-size: large;
  width: 6em;
}

.mensaje-view div{
padding: 1em;
}

.pedido-view label{
  font-weight: bold;
  width: 5em;
}

.pedido-view div{
padding: 0.2em;
font-size: small;

}

.pedido-view input{
  font-size: small;
}


/* #lista-items{
  display: none;
} */

.header-titulo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



#imagen-principal::before { 
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/portadas/camisetasBanner.jpg);
  background-size:cover;
  opacity: 0.5;
  z-index: -1;
}

.card-it::before{
  opacity: 0.2;
}


#flecha-carousel {
  filter: invert(100%);
}

  .content {
    height: 25em;
    color: var(--negro);
    opacity: 1;
  }

  #servicios .card{
    border: 0px;
  }

  #servicios img{
    height: 4em;
  }


#form-contacto{
    border: 1px rgb(144, 144, 144) solid;
    border-radius: 1em;
    /* background-color: var(--gris); */
    padding: 2em;
    /* width: auto; */
    
}


a{
  text-decoration: none;
}



#grid{
  text-align: center;
  gap: 2em;
  display: grid;
  grid-template-areas:
  'card card card';
  grid-template-columns: auto auto auto;
}

#grid-item{
  grid-area: 'card';
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 2em;
}

.grid-foto{
  padding-top: 0px;
  grid-column: span 2;
}

.foto-large{
  grid-column: 2 / span 2;
}

/* #grid-item:nth-child(4){
grid-column: span 2;
} */

#grid-item img{
  width: 80%;
}

.texto-nosotros{
  text-align: justify;
}

.titulo-img-nosotros{
  padding-top: 1em;
  font-weight: bold;
  font-size:large;
  
}

.img-nosotros{
 width: 7em;
}

.error{
  padding-top: 2em;
  color:rgb(219, 46, 46)
}

.div-productos {
  border-right: 1px solid var(--gris);
  padding-right: 1em; 
}

#div-carrito {
  /* background-color: aqua; */
  border-left: 1px solid var(--gris);
  padding-left: 1em; 
}

#items-carrito{
  padding: 1em;
}

#items-carrito img{
  width: 1em;
}

.btn-small {
  padding: 5px 10px;
  font-size: 12px;
}


tbody img{
  width: 6em;
}

.footer{
  background-color: var(--grisOscuro);
  padding: 2em 0;
  color: rgb(248, 238, 224);
}

.grayscale-filter{
  filter: grayscale(100%);

}


@media (max-width:880px) {
  #carouselIdLogo img{
    height: 5em;
    /* margin-left: 2em; */
}

#logosUnis{
  height: 15em;
}

.button-form{
width: 100%;
}

.custom-width {
  width: 100%;
}

#grid{
  display: grid;
  grid-template-areas:
  'card card';
  grid-template-columns: auto auto;
}

.grid-foto{
  grid-column: span 2;
}

.foto-large{
  grid-column: span 2;
}

#carouselCamisetas img {
  /* height: 10em; */
  width: 6em;
}


}